
<div class="container-fluid display-table">
  <div class="row display-table-row">
      <div class="container">
        <div class="forgot-password container-mini">
          <h3>Set New Password</h3>
          <form [formGroup]="passwordResetForm">
            <div class="user">
              <i class="fa fa-user" aria-hidden="true"></i>
              <input type="password" formControlName="old" class="form-control form-group" placeholder="Enter Old Password">
              <p class="error" *ngIf="passwordResetForm.get('old').invalid && passwordResetForm.get('old').touched">*Old Password is Required</p>
            </div>
            <div class="user">
              <i class="fa fa-lock" aria-hidden="true"></i>
              <input type="password" formControlName="new" class="form-group form-control" placeholder="Enter New Password" (input)="passwordResetForm.get('cnf').updateValueAndValidity()">
              <p class="error" *ngIf="passwordResetForm.get('new').getError('required') && passwordResetForm.get('new').touched">*Password Is Required</p>
              <div class="error" *ngIf="passwordResetForm.get('new').getError('pattern')">
                <p>Password Is At least 8 Character</p>
                <p class="margin-top-none">At least One UpperCase,LowerCase,Number & Special Characters</p>
              </div>
            </div>
            <div class="user">
              <i class="fa fa-lock" aria-hidden="true"></i>
              <input type="password" formControlName="cnf" appConfirmEqualValidator="new" class="form-group form-control" placeholder="Confirm New Password">
              <p class="error" *ngIf="passwordResetForm.get('cnf').getError('required') && passwordResetForm.get('cnf').touched">
                *Confirm Password is Required</p>
              <p class="error" *ngIf="passwordResetForm.get('cnf').getError('notEqual')
        && !passwordResetForm.get('cnf').getError('required')">
                *Confirm Password and Password Do Not Match</p>
            </div>
            <button type="submit" class="btn btn-primary" (click)="onChange()">CHANGE</button>
          </form>
        </div>
      </div>
    </div>
  </div>
