h3{
  text-align: center;
  font-size: 22px;
}
.forgot-password{
  padding-top: 60px;
  margin: 25px auto;
  align-items: center;
  width: 30%;
}
button{
  width: 100%;
}
.container-mini{
  max-width: 380px;
}
#icon i{
  padding-left: 42%;
}
.user { position: relative; }
.user input { text-indent: 30px;}
.user .fa-lock {
  position: absolute;
  top: 3px;
  left: 0;
  padding: 9px 8px;
  font-size: 15px;
  color: #aaaaaa;
}

.user .fa-user {
  position: absolute;
  top: 3px;
  left: 0;
  padding: 9px 8px;
  font-size: 15px;
  color: #aaaaaa;
}
.error{
  padding-top: 0;
  margin-top: 0;
  color: #E71C23;
  font-size: 13px;
}
.display-table{
  display: table;
  padding: 0px;
  height: 100%;
}
.display-table-row{
  /*display: table-row;*/
  height: 100%;

}
.display-table-cell{
  display: table-cell;
  float: none;
  height: 100%;

}
.set{
  margin: 0;
  padding: 0;
}
.img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /*position: absolute;*/
  /*left: calc(50% - 50px);*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p{
  text-align: center;
  font-weight: bold;
}
