p{
  padding-left: 4%;

}
.container{
  padding-top: 5%;
}
h4 {
  padding-left: 1%;
  padding-bottom: 3%;
}
#timer{
  font-weight: bold;
}
.showBlcok{
  display: inline;
}
.option{
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #bbb;
}
.option:hover{
  cursor: pointer;
}
.mybutton button{
  margin: 10px;
}
.mybutton{
  padding-top: 15px;

}
card{
  border-radius: 1rem;
}
