<h1>Add Coding Question</h1>
<div class="container">
    <form>
      <div class="form-row">
        <div class="col-lg-7 form-group">
          <label for="question">Enter The Question:</label>
          <textarea id="question" cols="80" rows="30" required class="form-control"></textarea>
        </div>
        <div class="col-lg-5 form-group">
          <label>Enter Test Case:</label><br>
          <label>Input For Test Case 1</label>
          <input type="text" required class="form-control">
          <label>Output For Test Case 1</label>
          <input type="text" required class="form-control">
          <label>Input For Test Case 2</label>
          <input type="text" required class="form-control">
          <label>Output For Test Case 2</label>
          <input type="text" required class="form-control">
          <button class="btn btn-default float-right">Save Question</button>
        </div>
      </div>
    </form>
</div>
