<div class="container">
  <div class="logininbox">
    <button (click)="fillForm()">FILL APPLICATION FORM</button>
    <button (click)="editForm()">EDIT APPLICATION FORM</button>
    <button (click)="viewForm()">VIEW APPLICATION FORM</button>
    <button (click)="changePassword()">CHANGE PASSWORD</button>
    <button (click)="viewSyllabus()">VIEW SYLLABUS</button>
    <button (click)="viewInstruction()">VIEW INSTRUCTION</button>
    <button (click)="viewResult()">VIEW RESULT</button>
  </div>
</div>
