<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p>Please read the instructions Carefully</p>
      <ul>
        <li><u><strong>General Instructions:</strong></u>
          <ol>
            <li>Total duration of examination is {{ min }} minutes</li>
            <li>The clock will be set at the server. The countdown timer in the top right corner of screen will display the remaining time available for you to complete the examination. When the timer reaches zero, the examination will end by itself. You will not be required to end or submit your examination.</li>
          </ol>
        </li>
        <li>
          <u><strong>Navigating to a Question:</strong></u>
          <ol>
            <li>Click on the question number in the Question Palette at the right of your screen to go to that numbered question directly. Note that using this option does NOT save your answer to the current question.</li>
            <li>Click on Save & Next to save your answer for the current question and then go to the next question.</li>
            <li>Click on Mark for Review & Next to save your answer for the current question, mark it for review, and then go to the next question.</li>
          </ol>
        </li>
        <li>
          <u><strong>Answering a Question:</strong></u>
          <ol>
            <li>To select your answer, click on the button of one of the options</li>
            <li>To change your chosen answer, click on the button of another option</li>
            <li>To save your answer, you MUST click on the <strong>Save & Next</strong> button</li>
            <li>To Navigate to the next question click on <strong>Next</strong> button</li>
          </ol>
        </li>
        <li>
          <u><strong>Navigating through sections:</strong></u>
          <ol>
            <li>After Submit any Section You will automatically go to Next Section</li>
          </ol>
        </li>
      </ul>
    </div>
  </div>
</div>
<hr>
<a routerLink="/user/questions" class="btn btn-dark float-right">I'm Ready to Begin</a>
