@import url("https://fonts.googleapis.com/css?family=Charm");
img {
    height: 80px;
    width: 80px;
}
.position {
    align-items: center;
}

h2 {
    text-align: center;
    font-family: 'Charm', cursive;
}
.center{
  margin-left: 25%;
}
.margin-top{
    height: 57em;
    margin: auto;
    display: table;
    top: 50%;
}
.intro{
    height: 35em;
    width: 100%;
    margin: auto;
    display: table;
    top: 0;
    background-size: cover;
}
.intro .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.content{
    /* max-width: 500px; */
    margin: 0 auto;
    text-align: center;
    font-family: 'Charm', cursive;
}

.error{
  padding-top: 0;
  margin-top: 0;
  color: #E71C23;
  font-size: 13px;
}
.margin-top-none {
  line-height: 0;
}
.myfrom{
  width:30%;
  margin: auto;
  align-items: center;
}
#login{
  text-align: center;
}
.intro-first{
  height: 25em;
  width: 100%;
  margin-top: 18%;
  display: table;
  top: 0;
  background-size: cover;
}
.content-first{
  /* max-width: 500px; */
  margin: 0 auto;
}

.intro-first .inner{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
     
.myfrom
{
  width: 100%;
  margin: auto;
  align-items: center;
}

}