<div class="container">
      <section class="intro-first">
        <div class="inner">
          <div class="content-first">
            <h2>Candidate Registration</h2>
            <form class="myfrom" [formGroup]="registrationForm" (submit)="onSubmit()">
              <label for="email">*Email</label>
              <input id="email" class="form-control form-group" name="email" placeholder="Email" formControlName="email">
              <p class="error" *ngIf="registrationForm.get('email').getError('required') && registrationForm.get('email').touched">*Email is Required</p>
              <p class="error" *ngIf="registrationForm.get('email').getError('pattern') && registrationForm.get('email').touched">*Invalid Email </p>
              <label for="name">*Name</label>
              <input id="name" class="form-control form-group" placeholder="Name" formControlName="name">
              <p class="error" *ngIf="registrationForm.get('name').invalid && registrationForm.get('name').touched">*Name Is Required</p>
              <label>*Password</label>
              <input type="password" class="form-control form-group"  placeholder="Password" formControlName="password" (input)="registrationForm.get('confirmPassword').updateValueAndValidity()">
              <p class="error" *ngIf="registrationForm.get('password').getError('required') && registrationForm.get('password').touched">*Password Is Required</p>
              <div class="error" *ngIf="registrationForm.get('password').getError('pattern')">
                <p>Password Is At least 8 Character</p>
                <p>At least One UpperCase,LowerCase,Number & Special Characters</p>
              </div>
              <label>*Confirm Password</label>
              <input type="password" class="form-control form-group" appConfirmEqualValidator="password" placeholder="Confirm Password" formControlName="confirmPassword">
              <p class="error" *ngIf="registrationForm.get('confirmPassword').getError('required') && registrationForm.get('confirmPassword').touched">
                *Confirm Password is Required</p>
              <p class="error" *ngIf="registrationForm.get('confirmPassword').getError('notEqual')
        && !registrationForm.get('confirmPassword').getError('required')">
                *Confirm Password and Password Do Not Match</p>
              <button class="btn btn-primary btn-lg form-group btn-block" [disabled]="registrationForm.invalid">Register</button>
            </form>
          </div>
        </div>
      </section>
</div>
