<div class="container">
  <h1>Syllabus for The Test</h1>
  <div>
    <h5>Basics of Programming:</h5>
    <p>Data Types</p>
    <p>Iteration, Recursion, Decision</p>
    <p>Procedure, functions and scope</p>
  </div>
  <div>
    <h5>Data Structures & Algorithms</h5>
    <p>Complexity Theory</p>
    <p>Arrays, Linked Lists, Trees, Graphs</p>
    <p>Stacks, Queues</p>
    <p>Hash Tables</p>
    <p>Heaps</p>
    <p>Searching and Sorting</p>
    <p>Backtracking,Greedy & Dynamic programming</p>
  </div>
  <div>
    <h5>Object Oriented Programming</h5>
    <p>Polymorphism,Abstraction,Encapsulation,Inheritance</p>
    <p>Access Modifiers</p>
    <p>Static,Final and Other Keyword</p>
    <p>Exception Handling</p>
    <p>Collections</p>
  </div>
  <div>
    <h5>Operating System and Computer Architecture</h5>
    <p>Basics of OS and Computer Architecture</p>
    <p>Process Management and Synchronization</p>
    <p>Memory and I/O Management</p>
    <p>Multithreading</p>
  </div>
  <div>
    <h5>Computer Networks</h5>
    <p>OSI, TCP/IP layers and Protocols</p>
    <p>Error Detection and Correction</p>
    <p>Network Devices and Routing Algorithms</p>
  </div>
  <div>
    <h5>Database Management System</h5>
    <p>Data Model</p>
    <p>Relational Algebra and SQL</p>
    <p>Normalization, Architecture, Indexing</p>
    <p></p>
  </div>
</div>

