label{
  margin-right: 20px;
}
input{
  margin: 20px;
}
#run{
  margin-left: 20px;
}
#timer{
  font-weight: bold;
}
.compile{
  padding-top: 10px;
  font-weight: bold;
}
.red{
  color: red;
}
.blue{
  color: blue;
}
.mybutton button{
  margin: 10px;
}
.mybutton{
  padding-top: 15px;

}
