.logininbox{
  width: 320px;
  height: 600px;
  background: #487EB0;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
}
h2{
  margin: 0;
  padding:  0 0 20px;
  text-align: center;
  font-size: 22px;
}
.logininbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.logininbox input{
  width: 100%;
  margin-bottom: 20px;
}
.logininbox input[type="text"], input[type="password"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.logininbox button[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.logininbox button[type="submit"]:hover{
  cursor: pointer;
  background: #ffc107;
  color: #000;

}
.logininbox a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgray;
}
.logininbox button{
  width: 100%;
  margin-bottom: 20px;
}
div.container6 {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center }
div.container6 p {
  margin: 0 }
