
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>
  
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
     
  
      <!-- Dropdown -->
      <li  class="nav-item dropdown" >
        <a  class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <i class="fa fa-user"></i>  
        </a>
        <div style="background-color: rgb(167, 160, 151)" class="dropdown-menu">
          <a class="dropdown-item" routerLink="/admin-login" *ngIf="!userIsAuth && !adminIsAuth">Admin Login</a>
          <a class="dropdown-item" routerLink="/candidate-login" *ngIf="!userIsAuth && !adminIsAuth">Candidate Login</a>
          <a class="dropdown-item" (click)="onLogout()" *ngIf="userIsAuth || adminIsAuth">Logout</a>
        </div>
      </li>
    </ul>
  </nav>