<nav class="navbar navbar-expand-lg navbar-light bg-light bg-secondary">
  <a class="navbar-brand" routerLink="/">AKCSIT CODE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li class="nav-item" *ngIf="!userIsAuth">
        <a class="nav-link" routerLink="/candidate-login">ULogin</a>
      </li>
      <li class="nav-item" *ngIf="!userIsAuth">
        <a class="nav-link" routerLink="/admin-login">ALogin</a>
      </li>
      <li class="nav-item" *ngIf="userIsAuth">
        <a class="nav-link" (click) = "onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
