.top-nav-bar {
  position: fixed;
  top: 0;
  z-index: 9999;
}
.searchbox {
  width: 30%;
}
.userimg{
  float: right;
}

.dropdown-menu{
  top: 0px;
  left: -75px;
  transition: 300ms all ease-out;
  background: #2F363F;
}

.show-dropdown{
  top: 2%;
  display: block;
  cursor: pointer;
  transition: 300ms all ease-in;
}
.st-coust{
  margin-right: 50px;
  width: 10px;
  height: 10px;
}
.nav-link {
  color: white;
}
fa-user{
  color: white;
}
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1920px)
and (-webkit-min-device-pixel-ratio: 2) {

  .drop
  {
    margin-right: 30px;
  }

}
