<img src="http://localhost:3000/images/admin/ranjan.jpg" alt="" class="img">
<ul>
  <li class="link">
    <a routerLink="/admin-dashboard/home">
      <span>Home</span>
    </a>
  </li>
  <li class="link">
    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          Questions
        </mat-expansion-panel-header>
        <ul>
          <li><a routerLink="/admin-dashboard/view-question">View Question</a></li>
          <li><a routerLink="/admin-dashboard/add-question">Add Question</a></li>
          <li><a routerLink="/admin-dashboard/add-coding-question">Add Coding Question</a></li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
  <li class="link">
    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          Questions Paper
        </mat-expansion-panel-header>
        <ul>
          <li><a routerLink="#">View Question Paper</a></li>
          <li><a routerLink="#">Add Question Paper</a></li>
          <li><a routerLink="#">Delete Question Paper</a></li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
  </li>
  <li class="link">
    <a routerLink="/admin-dashboard/registered-candidate">Show Registered Candidate</a>
  </li>
  <li class="link">
    <a routerLink="/admin-dashboard/review-coding-question">Review Coding Answer</a>
  </li>
  <li class="link">
    <a routerLink="/admin-dashboard/result">Show Result</a>
  </li>
  <li class="link">
    <a routerLink="/admin-dashboard/settings">Settings</a>
  </li>

</ul>
