<h1>Registered Candidate</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ReferenceId</th>
      <th scope="col">Name</th>
      <th scope="col">Course</th>
      <th scope="col">Year</th>
      <th scope="col">Email</th>
      <th scope="col">Date of Birth</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let candidate of candidates">
      <td>{{ candidate.refId }}</td>
      <td>{{ candidate.name }}</td>
      <td>{{ candidate.course}}</td>
      <td>{{ candidate.year }}</td>
      <td>{{ candidate.email }}</td>
      <td>{{ candidate.dob }}</td>
    </tr>
  </tbody>
</table>
