<h1>Registered Candidate</h1>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">ReferenceId</th>
      <th scope="col">Name</th>
      <th scope="col">Course</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let candidate of candidates">
      <td>{{ candidate.refId }}</td>
      <td>{{ candidate.name }}</td>
      <td>{{ candidate.course}}</td>
      <td>{{ candidate.email }}</td>
    </tr>
  </tbody>
</table>
<button (click)="onPdf()">Generate PDF</button>
