<div class="container">
  <div class="forgot-password container-mini">
    <div id="icon">	<i class="fa fa-unlock-alt fa-5x" aria-hidden="true"></i></div>
    <h3>Forgot Password</h3>
    <div class="user">
      <i class="fa fa-user fa-3x" aria-hidden="true"></i>
      <input type="text" class="form-group form-control" placeholder="Enter Username"
             pattern="^([a-zA-Z0-9\.\-_]+)@([a-z0-9-]+)\.([a-z]{2,4})(.[a-z]{2,4})?$" [(ngModel)]="username">
    </div>
    <button class="btn btn-warning" (click)="onForgotPass()">Forgot Password</button>
  </div>

</div>
