h3{
  text-align: center;
  font-size: 22px;
}
.forgot-password{
  padding-top: 60px;
  margin: 25px auto;
  align-items: center;
  width: 30%;
}
button{
  width: 100%;
}
.container-mini{
  max-width: 380px;
}
#icon i{
  padding-left: 42%;
}
.user { position: relative; }
.user input { text-indent: 30px;}
.user .fa-user {
  position: absolute;
  top: 3px;
  left: 0;
  padding: 9px 8px;
  font-size: 15px;
  color: dodgerblue;
}


