<div class="container">
    <h2 id="login">Candidate Registration</h2>
    <form class="myfrom">
        <label for="course">Course</label>
        <select id="course" class="form-group form-control" name="dep[course]">
            <option>Choose One</option>
            <option value="BTECH">BTECH</option>
            <option value="MTECH">MTECH</option>
            <option value="MCA">MCA</option>
            <option value="MTECH EVENING">MTECH EVENING</option>
        </select>
        <label for="course">Course</label>
        <input class="form-control form-group" type="text" placeholder="Year of Studies">
        <label for="email">Email</label>
        <input class="form-control form-group" type="email" name="dep[email]" placeholder="Email">
        <label for="phoneno">Phone Number</label>
        <input class="form-group form-control" type="text" placeholder="Phone Number" name="dep[phno]">
        <label for="name">Name</label>
        <input class="form-control form-group" type="text" placeholder="Name">
        <label for="Password">Password</label>
        <input type="password" class="form-control form-group" placeholder="Password">
        <label for="file">Image</label>
        <input type="file" class="form-control form-group">
        <button class="btn btn-primary btn-lg form-group btn-block">Register</button>
    </form>
</div>