#size{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    vertical-align: top;
    padding-top: 20px;
  }
  #secondLine{
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    padding-top: 0;
  }
  
  .myfrom{
    width:60%;
    margin: 25px auto;
    align-items: center;
  }
  .form-header{
    text-align: center;
    margin-top: 40px;
  }
  #logo{
    width: 120px;
    height: 120px;
    float: left;
    margin-left: 80px;
  
  }
  td{
    text-align: center;
  }
  #login{
    text-align: center;
  }
  #reqform{
    width: 80%;
    align-items: center;
    margin: 25px auto;
  }
  label{
    font-family: 'Courgette', cursive;
  }
  thead tr td{
    font-size: 20px;
    text-align: center;
  }
  #heading{
    text-align: center;
    font-family: "Cambria Math";
  }
  #form{
    width:60%;
    margin: 25px auto;
    align-items: center;
  }
.image-preview{
  height: 5rem;
  margin: 1rem 0;
}
.image-preview img {
  height: 100%;
}
div.container6 {
  width: 100%;
  display: flex;
  align-items: center;

}
div.container6 p {
  width: 100%;
  text-align: center;
  margin: 0 }
