<div class="container">
  <div class="forgot-password container-mini">
    <div id="icon"><i class="fa fa-unlock fa-5x" aria-hidden="true"></i></div>
    <h3>Change Password</h3>
    <form [formGroup]="passwordForm" (submit)="onSetNewPassword()">
      <div class="user">
        <i class="fa fa-key" aria-hidden="true"></i>
        <input type="password" formControlName="password" class="form-control form-group" placeholder="Enter Password">
      </div>
      <div class="user">
        <i class="fa fa-key" aria-hidden="true"></i>
        <input type="password" formControlName="cnfpassword" class="form-group form-control" placeholder="Confirm Password">
      </div>
        <button type="submit" class="btn btn-primary" (click)="onChangePassword()">Change Password</button>
    </form>
  </div>
</div>
