<div class="container6" *ngIf="showError">
  <p class="alert alert-danger">{{ errorMessage }}</p>
</div>
<div class="container">
  <div class="logininbox">
      <img src="http://localhost:3000/images/coding_binary_programming_notebook_code_development_editor-512.png" alt="" class="img">
      <h2>Login</h2>
      <form [formGroup]="userForm" (submit)="onSubmit()">
        <p>Reference ID</p>
        <input type="email" placeholder="Enter Email" formControlName="refId">
        <p>Password</p>
        <input type="password" placeholder="Enter Password" formControlName="password">
        <input type="submit" value="Login">
        <a href="#">Forgot Password</a><br>
      </form>
  </div>
</div>
