@import "https://fonts.googleapis.com/css?family=Bitter|Lobster";
@import "https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz";
h1{
  text-align: center;
  padding-bottom: 2%;
  font-family: 'Lobster', cursive;
}
.container{
  background-color: #DAE0E2;
  border-radius: 10px;
  padding-bottom: 2%;
}
p{
  padding-left: 5%;
  margin: 0;
  font-family: 'Srisakdi', cursive;
}
div{
  padding-bottom: 10px;
}
div h5{
  font-family: 'Yanone Kaffeesatz', sans-serif;;
}
