.display-table{
    display: table;
    padding: 0px;
    height: 100%;
  }
  .display-table-row{
    /*display: table-row;*/
    height: 100%;
  
  }
  .display-table-cell{
    display: table-cell;
    float: none;
    height: 100%;
  
  }
  #side-menu{
    background-color: #EAF0F1;
    padding: 0;
    border-radius: 8px;
  }
  .set{
    margin: 0;
    padding: 0;
  }
  .img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /*position: absolute;*/
    /*left: calc(50% - 50px);*/
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  p{
    text-align: center;
    font-weight: bold;
  }
  