<h1>View Questions</h1>
<div class="container">
  <div class="form-group row centered">
      <div class="col-lg-1.5"><label>Select Type:</label></div>
      <div class="col-lg-2">
        <select class="form-group form-control" (input)="onSelectType($event)" required>
          <option>Choose One</option>
          <option>Regular</option>
          <option>Coding</option>
        </select>
      </div>
      <div><button class="btn btn-primary" (click)="onGetQuestion()">Get Question</button></div>
  </div>
</div>
<div class="myContainer">
  <mat-accordion *ngIf="showRegular">
    <mat-expansion-panel *ngFor="let quet of question">
      <mat-expansion-panel-header>
        <strong>{{ quet.question }}</strong>
      </mat-expansion-panel-header>
      <p *ngFor="let op of quet.option; index as i">
        Option{{ i+1 }}: {{ op }}
      </p>
      <p class="highlighted">Correct: {{ quet.correct }}</p>
      <hr>
      <div>
        <a class="btn btn-warning" [routerLink]="['/admin-dashboard','edit-question',quet.id]">EDIT</a>
        <button class="btn btn-danger">DELETE</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion *ngIf="showCoding">
    <mat-expansion-panel *ngFor="let ques of codingQuestion; index as i">
      <mat-expansion-panel-header class="highlighted">Program{{ i+1 }}</mat-expansion-panel-header>
      <div class="row">
        <div class="col-lg-7 col-sm-12">
          {{ ques.question }}
        </div>
        <div class="col-lg-4 col-sm-12">
          <p class="highlighted">Test Case:</p>
          <p>Input Test Case 1: {{ ques.inputtc1 }}</p>
          <p>Output Test Case 1: {{ ques.outputtc1 }}</p>
          <p>Input Test Case 2:  {{ ques.inputtc2 }}</p>
          <p>Output Test Case 2:  {{ ques.outputtc2 }}</p>
        </div>
      </div>
      <hr>
      <div>
        <a class="btn btn-warning" [routerLink]="['/admin-dashboard','edit-coding-question',ques.id]">EDIT</a>
        <button class="btn btn-danger">DELETE</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>



