
.container{
  padding-top: 25px;
}
.centered {
  /*display: flex;*/
  /*align-items: center;*/
  justify-content: center;
}
h1{
  text-align: center;
  color: gray;
  font-family: 'Encode Sans Condensed', sans-serif;
}
 label{
  font-family: 'Courgette', cursive;
}
 button{
   margin-left: 10px;
 }
.myContainer{
  width: 90%;
  padding: auto;
  margin: auto;
}
.col-lg-4{
  margin-left: 80px;
}
.highlighted{
  font-weight: bold;
}
